body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  font-weight: borlder;
  background: linear-gradient(to bottom, lightskyblue, white 50%);
  background-attachment: fixed;
}

ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a{
  text-decoration: inherit;
  color: inherit;
}
